{% extends 'base.html' %}
{% block content %}
About This Project<br><br><br><br>

    This project parses the subreddits for the following schools:<br><br>

    Harvard, Princeton, MIT, Yale, Stanford, UChicago, UPenn, Columbia,
     Caltech, and JHU.<br><br><br>

    It processes the most recent 1000 posts from each of the subreddits.<br><br><br>

    Through this program, users are able to accomplish tasks,
    which can be found on the navbar. These tasks are as follows: <br><br>

        - Given time, college, n-gram, keywords, and upvotes parameters,
        it will return back top keywords (Top Keywords)<br>
        - Given time, college, and amount of words parameters, it will return back
        the similarity percentage (Similarity)<br>
        - Given time, datapoint, college, and word parameters, it will
        return a graph of word usage over time (Word Prevalence)<br>
        - Given time and college parameters, it will return back an
        analysis of up votes on posts (Up Votes)<br><br><br>
    
    This following data sources were used:<br>
    Reddit API<br>
{% endblock %}