{% extends 'base.html' %}
{% block content %}

Word Prevalence<br><br>

Use this form to create graphs of word usage on subreddits over time!<br><br>

<form method = "POST">
    <input type = "text" name = "Time Frame" placeholder = "Specified Time Frame"><br><br>
    <input type = "integer" name = "Data Points" placeholder = "Number of Data Points"><br><br>
    <input type = "text" name = "College" placeholder = "College (Optional)"><br><br>
    <input type = "text" name = "Word" placeholder = "Keyword"><br><br>
<input type="submit" value="Submit">
</form>

{% endblock %}